*{
    margin:0;
    padding:0;
}
.table-viewall{
    text-align:center;
    color:black;
    background-color: rgba(255,255,255,0.8);
    width: 80vw;
    border-radius: 3px;
}
.list-head-viewall > td > a{
    color:black;
}
#table-content-viewall >td > a{
    color:black;
}
.list-head-viewall >td {
    border-bottom:1px solid black;
}
.table-viewall > thead > tr > td{
    font-size:1.5em;
}
.table-viewall > tbody > tr > td{
    font-size:1.25em;
}
.table-viewall > tbody,thead > tr > .ticket-name-viewall{
    width:70%;
    text-align:center;
}
.simple-view{
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow: scroll;
}
.hidden{
    display:none;
}
.ticket-view{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.contents-view{
    padding: 20px;
}
.ticket-comments-view{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding: 20px;
}
.ticket-comment-main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.delete-comment-view > a{
    color:red;
}
.add-comment-view{
    padding-bottom:1em;
    border-bottom: 1px solid gray;
}
.form-update{
    font-size:2em;
}
#create-ticket-button > a {
    background-color: #039be5;
    color: white;
    border-radius: 3px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin-left: 20px;
}
.filter-message {
    color: white;
    margin-left: 20px;
}
.top-button {
    background-color: #039be5;
    color: white;
    border-radius: 3px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
    margin-top: 100px;
}
.form-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.form-container > form {
    background-color: rgba(255,255,255,0.8);
    padding: 30px;
    border-radius: 3px;
    color: white;
    width: 40vw;
}
.form-group-update {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.6em;
}
textarea,input {
    margin-bottom: 20px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(255, 255, 255, 0.2);
	width: 80%;
	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	display: block;
	font-size: 18px;
	color: black;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
    font-weight: 300;
}
#post_as_anonymous {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.submit {
    background-color: #039be5;
    color: white;
    border-radius: 3px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}
.ticket-created-view {
    display: flex;
    flex-direction: row;
}
#info-container {
    background-color: rgba(255,255,255,0.8);
    padding: 30px;
    border-radius: 3px;
    width: 80vw;
}
label {
    color: black;
    font-size: 1em;
    width: 80%;
}
.description-view {
    font-size: 1em !important;
}
#description-content-view {
	text-align: center;
	padding: 15px;
	border: 1px solid;
	text-align: left;
    margin: 10px;
}
#table-con {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border-radius: 3px;
}
.comment-text {
    max-width: 40vw;
}
#create-ticket-div-update {
    display: flex;
    flex-direction: column;
}
#up-wrapper {
	display: flex;
	flex-direction: column;
	background-color: rgba(255,255,255,0.8);
    width: 80vw;
    border-radius: 3px;
}
.pagination{
    color: white;
    margin-left: 20px;
}
