
{% extends 'base.html' %}

{% block title %}
<title>About Us - Students' Union Portal</title>
{% load static %}
<link rel="stylesheet" href="{% static "app/stylesheets/cards.css" %}">
{% endblock %}


{% block content %}
<div id="c-con">
    <div id="cards">
        <div class="carde">
            <div class="content">
                <p class="title">SU Body</p>
                <p class="info"><a href="/contact">Contact Details</a></p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">SU Events</p>
                <p class="info"><a href="suevents">Details</a></p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Election Commission</p>
                <p class="info more">The Election Commission (EC) is a six-member, independent and self-sustaining body of the Students' Union (SU). It is be responsible for conducting free and fair elections for all the organs of the SU. The EC also moderates the General Body Meetings (GBMs). Additionally, the EC makes sure that SU Constitution is upheld by all the position holders.</p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Corroboration and review committee</p>
                <p class="info more">The Corroboration and Review Committee is a  6-membered neutral body. The CRC audits all receipts and expenditures of the Student Union Council (including the 4 major annuals fests). The CRC is also responsible for scrutinizing and approving the budgets of the above activities and for maintaining and enforcing the Procedure Manual of BPHC.</p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Students mess council</p>
                <p class="info more">SMC’s are responsible for addressing concerns regarding all mess affairs. They serve as a bridge between mess caterers and the Union.SMC consists of 5 members elected by the Union.SMC also has a feedback page, where every query, suggestion and criticism is appreciated and properly evaluated leading to continual improvement. SMC makes sure that the terms in the contract are being met. SMC also gives suggestions to the Administration about the vendors in the campus. To sumit complaints agaist food stalls or mess food, click <a href="https://docs.google.com/forms/d/e/1FAIpQLSc1XRjTRXL-GKtlylSBLZLtyEXnn3WGkVJnuNJaiz7vA-u2Fw/viewform">Here</a></p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title"><a href="clubs/">Clubs</a></p>
                <p class="info more"><a href="clubs/">Know More</a></p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title"><a href="depts/">Departments</a></p>
                <p class="info more"><a href="depts/">Know More</a></p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title"><a href="techassoc/">Technical Senate</a></p>
                <p class="info more"><a href="techassoc/">Know More</a></p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title"><a href="ngos/">Societies and NGOs</a></p>
                <p class="info more"><a href="ngos/">Know More</a></p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title"><a href="reg/">Regional Assocs</a></p>
                <p class="info more"><a href="reg/">Know More</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}>
