{% extends 'base.html' %}

{% block title %}
<title>Alumni Connect - Students' Union Portal</title>
{% load static %}
{% endblock %}


{% block content %}

<div id="c-con">
    <div id="cards">
        <div class="carde">
            <div class="content">
                <p class="title">Donate Funds</p>
                <p class="info">
                    <ul>
                        <li><strong>Account Number: </strong>00000062208900721</li>
                        <li><strong>IFS Code: </strong>SBIN0021092</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock %}>
