{% extends 'base.html'%}
{% block title %}
<title>Calendar - Students' Union Portal</title>
{% load static %}
    <link rel="stylesheet" href="{% static "app/stylesheets/cal.css" %}">
{% endblock %}

{% block content %}
<div>
    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'calendar')" id="defaultOpen">Calendar</button>
      <button class="tablinks" onclick="openCity(event, 'Events')">Events</button>
    </div>

    <div id="calendar" class="tabcontent">
      <p><iframe width="100%" height="500px" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=suc%40hyderabad.bits-pilani.ac.in&amp;color=%231B887A&amp;ctz=Asia%2FCalcutta" style="border-width:0" frameborder="0" scrolling="no"></iframe></p>
    </div>

    <div id="Events" class="tabcontent">
     <p><iframe height="500px" width="100%" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=800&amp;wkst=1&amp;bgcolor=%23818996&amp;src=suc%40hyderabad.bits-pilani.ac.in&amp;color=%23B1440E&amp;ctz=Asia%2FCalcutta" style="border-width:0" frameborder="0" scrolling="no"></iframe></p> 
    </div>
</div>
    <script>
        function openCity(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        setTimeout(function() {
            document.getElementById("defaultOpen").click(); // wait for page load before clicking.
        }, 1000);
    </script>

{% endblock %} 
