{% extends 'base.html' %}

{% block title %}
<!DOCTYPE html>
    <title>Club Details - Students' Union Portal</title>
    {% load static %}
    <script src="{% static "app/modals.js" %}" charset="utf-8"></script>
{% endblock %}


{% block content %}

<div id="c-con">
    <div id="cards">
        <div class="carde">
            <div class="content">
                <p class="title"><a href="#">English Language Activities Society</a></p>
                <p class="info more">This wonderful, wacky club that calls itself ELAS is made of people who live and love all things literary. Unfettered by an acute sense of self-awareness, ELAS is a not just a club, It’s a family. Apart from holding regular debate practices, workshops, and weekly events, its members also enjoy the art of bad puns, sarcastic jokes, and meme sharing on Facebook. Disclaimer: We do not endorse Grammar Nazis. </p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Journal Club</p>
                <p class="info more">Welcome to the official newsmaking factory of BPHC. Here, Jay-C makes words dance to the beats of information, producing newsletters, magazines that are filtered by our journalistic auto-tuners. Investigating the different genres of the world and doing the occasional duet with Wikipedia, this student factory is the place to be. </p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Shades Club</p>
                <p class="info more">The fine arts club of BITS Hyderabad, Shades is a gathering and celebration of creative people. A perfect platform to showcase your artistic capabilities and learn a lot more. The club organizes workshops on various art and craft forms. Some of our standout performances include the repainting of the Shades wall and the stage shows, live artworks during fest inaugurations. We also organize an annual exhibition during Pearl, BPHC cultural fest where artworks and various handcrafts of our artists are displayed. </p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">VFx Club</p>
                <p class="info more">The club which leaves you enthralled, fascinated and spellbound by creating high-end graphics, 3D models, special effects and visual effects or VFx. Trains and nurtures students' skill to showcase their video and design making skill.</p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Hindi Tarang</p>
                <p class="info more">Hindi Tarang BPHC ka hindi literary club hai. Jahan tak baat hai Humaare kaam ki toh hum shabdon se khelte hai, kavitaon se logon ka dil jeetne ki koshish karte hain aur hindi jagat ke bade naamon se aapko rubaroo karane unko college lekar aate hain, jaise Hussain Haidry, The Mansarovar Project, etc. Toh BPHC ke naye sadasyon humaari kisse-kahaniyon aur kavitaon ki rail gadi aapka yahan swaagat karti hai.</p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Quiz Club</p>
                <p class="info more">Do you spend countless hours on the internet reading up on random things which do not matter? <br>
                    Well, guess what. Here at The Quiz Club BPHC, they do matter. <br>
                    I could write a long description of what the club does, but then I wouldn't be honest to myself If I wrote anything other than - <br>
                    We conduct Quizzes</a> <br>
                   <b> Head: Srikanth Sridhar</b><br>
                    mail: quizzing@hyderabad.bits-pilani.ac.in<br>
                    Whatsapp: 9133234436<br>
                    Mobile: 8368975712
                </p>
                </div>
            </div>
            <div class="carde">
                <div class="content">
                    <p class="title">Dance Club</p>
                    <p class="info more">f you believe in the magic of dance, this is the place to be! The club practises and performs all year round with performances on various themes and dance forms such as Classical, Hip Hop, Contemporary, Bollywood, etc with the aim being to become better at expressing our ideas, our emotions through dance and bringing something new every time we are on the stage. The Dance Club also organizes fun-filled workshops and flash mobs over course of the year. Come join the family to discover the dancer within you and make some(we’d say all :p) of the best memories of your college life 🙂</p>
                </div>
            </div>
            <div class="carde">
                <div class="content">
                    <p class="title">Dramatics Club</p>
                    <p class="info more">To all you Dramebaaz people out there, welcome to the house of crazy, emotional, hormonal psychos. We'll show you how to make an audience laugh their guts out, and also touch them to the point of crying. If you have always yearned that platform to express yourself out without being judged, you find a place among us. We can't wait to see your talent at our inductions!</p>
                </div>
            </div>
            <div class="carde">
                <div class="content">
                    <p class="title">Movie Club</p>
                    <p class="info more"></p>
                </div>
            </div>
            <div class="carde">
                <div class="content">
                    <p class="title">Photog</p>
                    <p class="info more">In Photog, we believe that taking a photograph, capturing a moment and living it is everything. It reveals how rich reality truly is. So if you have it in you, that passion, that endeavouring and never ending ardour for capturing the raw world around you, come join us at PHOTOG, The Photography Club of BITS Pilani Hyderabad Campus. </p>
                </div>
            </div>
            <div class="carde">
                <div class="content">
                    <p class="title">Music Club</p>
                    <p class="info more">We, at the music club, pride ourselves for not only putting up diverse music but also for learning new things along the way. Ask any member about their journey over the years, and they'll tell you what a magical experience it has been, performing in front of huge audiences, showcasing their talents, living their dreams. Whether you want to be a rockstar and headbang on stage or enamour the audience with some classical pieces, music club is the place you seek. </p>
                </div>
            </div>
            <div class="carde">
                <div class="content">
                    <p class="title">Designers Anonymous</p>
                    <p class="info more">A club where the digital artists thrive and explore the world of graphic design. We make people stare in awe at our masterpieces. We don't need words to express our thoughts, just illustrations. Awesomeness is there at every step for and with us. Not the kind to boast, but we are freaking superb. </p>
                </div>
            </div>
            <div class="carde">
                <div class="content">
                    <p class="title">Sanskrit and Foriegn Languages Club</p>
                    <p class="info more">Like hopping from one Hitler Rants video to another? (German) Is your TV stuck with ZNMD on loop? (Spanish) Fancy speaking like one of those French girls? (French) Or just fascinated with those ancient verses scribed in our epics? (Sanskrit). Then SAFL Society is the right place for you!

                        Sanskrit and Foreign Languages Society, or SAFL Society, for short, is a congregation of people who are passionate about learning Sanskrit and foreign languages. Through both, offline and online media, the society keeps its members involved with interesting activities and meet-ups, throughout the year.</p>
                    </div>
                </div>
                <div class="carde">
                    <div class="content">
                        <p class="title">Cooking Club</p>
                        <p class="info more">Are you a foodie? Do you love to cook? Do you love gathering with friends over a great meal! It's a great way to deepen your friendships while enjoying terrific food. This is the place for all food lovers. We emerged as a club from cooking & culinary activities society after a stint of successful endeavours. We arrange talks, workshops from renowned chefs and entrepreneurs of the cooking field. Also, playing an appreciable role in arranging stalls during fests and special occasions. </p>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}>
