{% extends 'base.html'%}

	{% block title %}
	    <title>Contact Details - Students' Union Portal</title>
	{% load static %}
    <link rel="stylesheet" href="{% static "app/stylesheets/cards.css" %}">
	<script defer="true" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	{% endblock %}

{% block content %}

<div id="c-con">
	<div id="cards">

		{# PRESIDENT #}
		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/prez.jpg" %}">
				<p class="position">PRESIDENT</p>
				<p class="name">Abhinav Ettireddy</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">9542929354</p>
				</div>
			</div>
		</div>

		{# GENSEC #}
		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/gs.jpg" %}">
				<p class="position">GENERAL SECRETARY</p>
				<p class="name">Aditya Iyer</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">9705932532</p>
				</div>
			</div>
		</div>

		{# CULTSEC (GIRLS) #}
		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/csg.jpg" %}">
				<p class="position">CULTURAL SECRETARY (GIRLS)</p>
				<p class="name">K Vaishnavi Reddy</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">9885623355</p>
				</div>
			</div>
		</div>

		{# CULTSEC (BOYS) #}
		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/csb.jpg" %}">
				<p class="position">CULTURAL SECRETARY (BOYS)</p>
				<p class="name">Chandan Kumar</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">7660002320</p>
				</div>
			</div>
		</div>


		{# SPORTS SEC (GIRLS) #}
		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/scg.jpg" %}">
				<p class="position">SPORTS SECRETARY (GIRLS)</p>
				<p class="name">Aastha Singh</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">9133235010</p>
				</div>
			</div>
		</div>
		
		{# SPORTS SEC (BOYS) #}
		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/scb.jpg" %}">
				<p class="position">SPORTS SECRETARY (BOYS)</p>
				<p class="name">Kritanshu Singh</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">7661837358<br>
					7587785794</p>
				</div>
			</div>
		</div>


		{# TECHNICAL CONVENOR #}
		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/ts.jpg" %}">
				<p class="position">TECHNICAL SECRETARY</p>
				<p class="name">Sharath Golluri</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">9133235010</p>
				</div>
			</div>
		</div>

		{# HREPS #}

		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/hrme.jpg" %}">
				<p class="position">HOSTEL REPRESENTATIVE (Meera Bhavan)</p>
				<p class="name">Jahnavi Swamy</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">8978399148</p>
				</div>
            </div>
		</div>	

		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/hrma.jpg" %}">
				<p class="position">HOSTEL REPRESENTATIVE (Malaviya Bhavan)</p>
				<p class="name">Vaishnavi Reddy S</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">8523002010</p>
				</div>
			</div>
		</div>

		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/hrg.jpg" %}">
				<p class="position">HOSTEL REPRESENTATIVE (Gautam Bhavan)</p>
				<p class="name">Pranjal Shukla</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">9313220291</p>
				</div>
			</div>
		</div>


		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/hrva.jpg" %}">
				<p class="position">HOSTEL REPRESENTATIVE (Valmiki Bhavan)</p>
				<p class="name">Siddharth Ratnam</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">7981580002</p>
				</div>
			</div>
		</div>

		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/hrk.jpg" %}">
				<p class="position">HOSTEL REPRESENTATIVE (Krishna Bhavan)</p>
				<p class="name">Bandari Shiva Sai Krishna</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">7729946232</p>
				</div>
			</div>
		</div>

		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/hrr.jpg" %}">
				<p class="position">HOSTEL REPRESENTATIVE (Ram Bhavan)</p>
				<p class="name">KNS Bharath</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">7997083699</p>
				</div>
			</div>
		</div>


		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/hrs.jpg" %}">
				<p class="position">HOSTEL REPRESENTATIVE (Shankar Bhavan)</p>
				<p class="name">Rahul Sai Kolli</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">9505799523</p>
				</div>
			</div>
		</div>

		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/hrvy.jpg" %}">
				<p class="position">HOSTEL REPRESENTATIVE (Vyas Bhavan)</p>
				<p class="name">Suhas Reddy Vajrala</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">9948322244</p>
				</div>
			</div>
		</div>


		{% comment %}
		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/hrg.jpg" %}">
				<p class="position">HOSTEL REPRESENTATIVE (Gandhi Bhavan)</p>
				<p class="name">INCOMPLETE DATA</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">INCOMPLETE DATA</p>
				</div>
			</div>
		</div>

		<div class="carde">
			<div class="content">
				<img src="{% static "/app/posts/hrvy.jpg" %}">
				<p class="position">HOSTEL REPRESENTATIVE (Vyas Bhavan)</p>
				<p class="name">INCOMPLETE DATA</p>
				<div class="social">
					<p><i class="fas fa-phone"></i></p>
					<p class="contact-no">INCOMPLETE DATA</p>
				</div>
			</div>
		</div>
		{% endcomment %}


	</div>
</div>

{% endblock %}
