{% extends 'base.html' %}

{% block title %}
<title>Home - Students' Union Portal</title>
{% endblock %}
{% block content %}
<div id="landing">
    <div id="intro">
        <h1>BITS Pilani, Hyderabad Campus</h1>
        <h2>Students' Union Portal</h2>
    </div>
    <div class="landing-div" id="about">
        <h3>About SUC</h3>
        <p>The Student Union Council is one of the most important student bodies on campus. Its main purpose is to cater to the needs of Students as a whole and bring it to the notice of the Administration be it hostel problems, sanitation on campus or even related to the mess food. It serves as a bridge between the concerned authorities and all students on campus including the higher degree ones. It was established with a vision of providing a student an easy way to bring about changes through the administration.</p>
        <div id="c-con" style="overflow: initial;">
            <div id="cards">
                <div class="carde">
                    <div class="content">
                        <p class="title"><a href="#">The President</a></p>
                        <p class="info more">The President, the Head of the Union and the Council, has the power to speak on behalf of the Union with any authority without prior consultation with other members of the Council. He is also the signing authority of all the financial matters and statements of the Union as he is elected by the Students themselves.</p>
                    </div>
                </div>
                <div class="carde">
                    <div class="content">
                        <p class="title"><a href="#">The General Secretary</a></p>
                        <p class="info more">Below the President is the General Secretary, accountable for all the inventory of all the property owned by the Union’s organs. He takes care of the general affairs of the college and is responsible for all meetings of the Council, keeping minutes of the same</p>
                    </div>
                </div>
                <div class="carde">
                    <div class="content">
                        <p class="title"><a href="#">The Technical Secretary</a></p>
                        <p class="info more">The Technical Secretary is accountable for the technical activities and culture on the campus and organizes any intra-college technical fests.</p>
                    </div>
                </div>
                <div class="carde">
                    <div class="content">
                        <p class="title"><a href="#">The Sports Secretaries</a></p>
                        <p class="info more">The Sports Secretaries help in nurturing and developing sports culture on campus and also organize the intra college sports fests.</p>
                    </div>
                </div>
                <div class="carde">
                    <div class="content">
                        <p class="title"><a href="#">The Cultural Secretaries</a></p>
                        <p class="info more">The Cultural Secretaries co-ordinate all cultural activities of the campus and generally take up the organizing of those events along with those of the intra-college cultural fest.</p>
                    </div>
                </div>
                <div class="carde">
                    <div class="content">
                        <p class="title"><a href="#">The Hostel Representatives</a></p>
                        <p class="info more">The Hostel Representatives, elected by each hostel’s students, focus on the development along with maintenance of the hostel facilities and monitor the inventory in their respective hostels.</p>
                    </div>
                </div>
            </div>
        </div>
            <!-- <div class="landing-div" id="about-culture">
                <h3>About Student Culture</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div> -->
        </div>


        {% comment %}
        <p class="item-1">CG == LOL</p>

        <p class="item-2">Fuck cdcs<br><img src="{% static "app/bphc.jpeg" %}" height="200" width="400"></p>

        <p class="item-3">Zindagi jhandba</p>
        {% endcomment %}
        {% endblock %}
