<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Student Union Portal</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
          rel="stylesheet">
    {% load static %}
    <link href="{% static "app/js/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "app/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "app/js/animate/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "app/stylesheets/style.css" %}" rel="stylesheet">

<\head>
<body>


<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h4><a href="#hero">SU Portal</a></h4>

        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#hero">Home</a></li>
                <li><a href="#about">About Us</a></li>

                <li><a href="#team">Team</a></li>
                <li class="menu-has-children"><a href="">Senates</a>
                    <ul>
                        <li><a href="#">Technical Senate</a></li>
                        <li class="menu-has-children"><a href="#">Departments</a>
                            <ul>
                                <li><a href="#">Department 1</a></li>
                                <li><a href="#">Department 2</a></li>
                                <li><a href="#">Department 3</a></li>
                                <li><a href="#">Department 4</a></li>
                                <li><a href="#">Department 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Sports Senate</a></li>
                        <li><a href="#">Cultural Senate</a></li>
                        <li><a href="#">Regional Assocs</a></li>
                    </ul>
                </li>
                <li class="menu-has-children"><a href="">Services</a>
                    <ul>
                        <li><a href="#">Complaints</a></li>

                        <li><a href="#">Alumni Connect</a></li>

                    </ul>
                </li>
                <li><a href="#contact">Contact SUC</a></li>
            </ul>
        </nav>
    </div>
</header>


<section id="hero">
    <div class="hero-container">
        <h1>Students' Union Portal</h1>
        <h2></h2>
        <a href="#about" class="btn-get-started">Login</a>
    </div>
</section>

<main id="main">


    <section id="about">
        <div class="container">
            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <h2 class="title">Few Words About Us</h2>
                    <p align="justify">
                        The Student Union Council is one of the most important student bodies on campus. Its main
                        purpose is to cater to the needs of Students as a whole and bring it to the notice of the
                        Administration be it hostel problems, sanitation on campus or even related to the mess food. It
                        serves as a bridge between the concerned authorities and all students on campus including the
                        higher degree ones. It was established with a vision of providing a student an easy way to bring
                        about changes through the administration.
                    </p>

                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-photo"></i></div>
                        <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                        <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                            tempore, cum soluta nobis est eligendi</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-photo"></i></div>
                        <h4 class="title"><a href="">Magni Dolores</a></h4>
                        <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon"><i class="fa fa-bar-photo"></i></div>
                        <h4 class="title"><a href="">Dolor Sitema</a></h4>
                        <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat tarad limino ata</p>
                    </div>

                </div>

                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
            </div>

        </div>
    </section>


    <section id="facts">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">Facts</h3>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium doloremque</p>
            </div>
            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">4</span>
                    <p>Events</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">521</span>
                    <p>Projects</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">1,500</span>
                    <p>Hours Of Work</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">4000</span>
                    <p>Students</p>
                </div>

            </div>

        </div>
    </section>


    <section id="services">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">Positions</h3>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium doloremque</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
                        <h4 class="title"><a href="">The President</a></h4>
                        <p class="description" align="justify">The President, the Head of the Union and the Council, has
                            the power to speak on behalf of the Union with any authority without prior consultation with
                            other members of the Council.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
                        <h4 class="title"><a href="">The General Secretary</a></h4>
                        <p class="description">Below the President is the General Secretary, accountable for all the
                            inventory of all the property owned by the Union’s organs. He takes care of the general
                            affairs of the college and is responsible for all meetings of the Council, keeping minutes
                            of the same</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
                        <h4 class="title"><a href="">The Technical Secretary</a></h4>
                        <p class="description">The Technical Secretary is accountable for the technical activities and
                            culture on the campus and organizes any intra-college technical fests.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
                        <h4 class="title"><a href="">The Sports Secretaries</a></h4>
                        <p class="description">The Sports Secretaries help in nurturing and developing sports culture on
                            campus and also organize the intra college sports fests.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
                        <h4 class="title"><a href="">The Cultural Secretaries</a></h4>
                        <p class="description">The Cultural Secretaries co-ordinate all cultural activities of the
                            campus and generally take up the organizing of those events along with those of the
                            intra-college cultural fest.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
                        <h4 class="title"><a href="">The Hostel Representatives</a></h4>
                        <p class="description">The Hostel Representatives, elected by each hostel’s students, focus on
                            the development along with maintenance of the hostel facilities and monitor the inventory in
                            their respective hostels.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section id="team">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Team</h3>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium doloremque</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{% static "/app/posts/prez.jpg" %}" alt=""></div>
                        <h4>Abhinav Ettireddy</h4>
                        <span>PRESIDENT</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{% static "/app/posts/gs.jpg" %}" alt=""></div>
                        <h4>Aditya Iyer</h4>
                        <span>General Secretary</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{% static "/app/posts/csg.jpg" %}" alt=""></div>
                        <h4>K Vaishnavi Reddy</h4>
                        <span>Cultural Secretary (Girls)</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{% static "/app/posts/csb.jpg" %}" alt=""></div>
                        <h4>Chandan Kumar</h4>
                        <span>Cultural Secretary </span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


</main>


<footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>

    <div class="container">

        <div class="credits">


            Designed by SU tech team
        </div>
    </div>
</footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


<script src="{% static "app/js/jquery/jquery.min.js" %}"></script>
<script src="{% static "app/js/jquery/jquery-migrate.min.js" %}"></script>
<script src="{% static "app/js/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "app/js/easing/easing.min.js" %}"></script>
<script src="{% static "app/js/wow/wow.min.js" %}"></script>
<script src="{% static "app/js/waypoints/waypoints.min.js" %}"></script>
<script src="{% static "app/js/counterup/counterup.min.js" %}"></script>
<script src="{% static "app/js/superfish/hoverIntent.js" %}" ></script>
<script src="{% static "app/js/superfish/superfish.min.js" %}" ></script>


<script src="{% static "app/js/main.js" %}"></script>

</body>
</html>
