
{% extends 'base.html' %}

{% block title %}
<title>NGOs and Societies - Students' Union Portal</title>
{% load static %}
{% endblock %}


{% block content %}
<div id="c-con">
    <div id="cards">
        <div class="carde">
            <div class="content">
                <p class="title">EMBRYO</p>
                <p class="info more">Embryo is the genesis of innovation and growth at BITS. Real learnings are derived from real life heroes. We have some amazing people around the world who have created historical milestones. Surely, one would wish to interact with such legends. They may be some artist, politician, coder, social entrepreneur, biologist – some of those might even be our BITS alumnus. Embryo coordinates and conducts live as well as online talks by these experts for student consumption at our own campus. </p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">BITSMUN</p>
                <p class="info more">BITSMUN (BITS Model United Nations) Society was established in 2011 with an aim of organizing the BITSMUN Conference annually which is one of the best MUN conferences in India, attended by over 400 delegates from all across the world. Apart from this, we train students to achieve quality MUNning and debating skills by organizing Mock MUNs along with training and information sessions. These students have bagged several awards and recognition for our college. </p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">TEDx</p>
                <p class="info more">TEDxBITSHyderabad is an event organized independently by the students of BITS Pilani, Hyderabad Campus that strives to recreate the unique experience found at a TED event. Our goal is to provide a platform for bright, inquisitive minds to come, listen and interact in an environment brimming with inspiration and wonder. The fourth edition of TEDxBITSHyderabad will be organized on 12th November 2017, with the theme “Connecting the Dots”.</p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Stand-up Society</p>
                <p class="info more">Tickling the funny bone of people is a serious job. And as future engineers, we need to have back up career plans. So, if you think you are funny and can take a beating from a crowd, join the Stand Up Comedy Society! </p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">The Daily Bitsian</p>
                <p class="info more">The Daily Bitsian is a monthly online magazine and creative corporation run by Bitsians, for Bitsians. With everything from college checklists to life managing philosophies, we bring to you our take on all that goes on in that busy college-student head. We produce creative content in all forms of media, be it video, image, comic or text, with but one promise. To be relatable. </p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Student Mentorship Program</p>
                <p class="info more">They organise a structured programme for conventional and non conventional courses. The course follows a particular plan and with the aim to provide a basic knowledge on the course by the end of the semester. The classes are taken by fellow BITSians who have sound knowledge of the subject. </p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">SCIO</p>
                <p class="info more">SCIO is an NPO started by a team of motivated students from BITS Pilani-Hyderabad Campus with the aim of forming a support structure to the current education system by helping students take an informed decision about their future rather than succumb to peer and parental pressure. </p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Engineers without Borders</p>
                <p class="info more">EWB is a non-profit society that involves engineers and other professionals in a movement of constructive change. It is inspired by an urgent concern for accelerating sustainable rural development, assisting in capacity building in backward rural and urban communities of India, working across national boundaries for social and economic justice and responsible use of technology. </p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Nirmaan</p>
                <p class="info more">Nirmaan is a constructive citizen movement for an empowered India thereby making this world a better place to live in. With a goal of making education, formal or not, available to everyone, Nirmaan has adopted several villages and is providing education to children and is helping the adults build livelihood opportunities and employment. We only have one passion, the rise of a great nation.</p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">National Service Scheme</p>
                <p class="info more">National Service Scheme(NSS), BPHC was formed on the words Not Me But You. NSS strives for the welfare of society by conducting many events such as health camps, computer literacy programs, awareness camps for villagers, blood donation camps etc. The volunteers acquire leadership qualities and democratic attitudes through mobilizing community participation.</p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">ENACTUS</p>
                <p class="info more">Why just help people when we could empower them? That's their motto, and that's what they thrive in achieving with Enactus. With an opportunity to conduct multiple surveys, interact with beneficiaries, and understand various aspects of running a small scale business, it's not only their beneficiaries, that profit, it's you too.</p>
            </div>
        </div>
    </div>
    {% endblock %}>
