{% extends 'base.html' %}

{% block title %}
<!DOCTYPE html>
    <title>Club Details - Students' Union Portal</title>
    {% load static %}
    <script src="{% static "app/modals.js" %}" charset="utf-8"></script>
{% endblock %}


{% block content %}

<div id="c-con">
    <div id="cards">
        <div class="carde">
            <div class="content">
                <p class="title">Maithri</p>
                <p class="info more">The Regional Assoc of Malayalis, or casually put, the "Mallus". Whether you are someone straight out of Kerala, a Malayali from elsewhere in the country, or just curious to get to know the "Mallu way of life", tag along. We may be small in number, but we make sure we leave a mark, whether it be the grandiose Onam celebrations or the captivating performances on the Sanskriti night.</p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Utkal Samaj</p>
                <p class="info more">Today's Odisha is a mixture of the old and the modern, a pleasant amalgamation of culture, heritage and sky high buildings and high-end education. Utkal Samaj strives to do justice to the spirit of Odisha and is responsible for celebrating every Odia BITSian and indulging in all our festivities and culture. From Durga Puja to dancing to the rhythm of Sambalpuri folk songs, Utkal Samaj is a family away from home for all Odias.</p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Tamil sangam</p>
                <p class="info more">Tamil sangam stands for the conglomeration of people from across the country, who are well rooted in their ethnic beliefs. To bring such a population together, we organize a number of meets and events, and get together frequently for the celebration of festivals that we call our own. This Sangam helps organize the Pongal Celebration in the campus, that will culminate in a feast for Tamils and non-Tamils alike. In addition, an informal meet will be planned every year, for the Tamil spirit of togetherness and friendship to last beyond our college years.</p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Baithak</p>
                <p class="info more">This Assoc covers the states of Punjab, Haryana, Himachal Pradesh, Rajasthan, Delhi and Jammu-Kashmir. The festive celebrations organised by this Assoc include those of Diwali, Guru Purab, Lohri and Baisakhi, for everyone to enjoy. Amidst the diversity, we celebrate the togetherness of all, and so this Assoc is open for everyone to come and contribute and organize all our events. </p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Gitanjali</p>
                <p class="info more">Gitanjali is the Bengali regional Assoc of the campus, a union of motivated, highly energetic people. We want to meet and get together with people across the cultures, and organize and celebrate the ceremonious yet sublime festivals like Durga Puja, Saraswati Puja, along with other festivities.  We will look for even more initiatives to collaborate with other Assocs in the future. We will give the campus the feeling of the Bong culture!!!</p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Kasturi</p>
                <p class="info more">Regional Assoc for Kannadigas and people calling Karnataka their home. They also organise Ugadi festival.</p>
                </div>
            </div>
            <div class="carde">
                <div class="content">
                    <p class="title"> Maharashtra Mandal</p>
                    <p class="info more">Maharashtra Mandal is an Assoc not only for the people belonging to the Maharashtra state but also for everyone interested in the Maharashtra culture. The Assoc is famously across the campus as "MaMa". We celebrate various festivals like Janmashtami (Dahi Handi), Ganesh Chaturthi and Gudi Padwa, and conduct events like Freshers', Marathi movie screening, Cultural night during Ganesh festival and Farewell for the Pre-Final year students.</p>
                </div>
            </div>
            <div class="carde">
                <div class="content">
                    <p class="title">Brindavanam Telugu Association</p>
                    <p class="info more">Brindavanam, since its inception in 2008, has secured a special place in the hearts of all Telugu-speaking people on the campus: students and staff alike. It is devoted to create awareness and promote the Telugu traditions and customs. The association is an emblem of Telugu language on the campus and its gates are open to any person who is enthusiastic enough to experience the Telugu Heritage and culture. We try to the best of our abilities to keep the Telugu heritage alive on the campus by celebrating Telugu festivals and conducting events aimed at developing the feeling of togetherness among people. </p>
                </div>
            </div>
            <div class="carde">
                <div class="content">
                    <p class="title">Gujarati Association</p>
                    <p class="info more">The Gujarati Association will never cease to amaze. From the land famous for her food, we carry with us the essence that is Gujarat. Be it organizing the grand Dandiya Night in ATMOS (and bringing you food of a different taste) , or coordinating the various tasks during Navaratri and Durga Puja...we do it all. And that's not it. We'll also teach you how to play Garba, with grace... in our Dandiya Workshops! Prepare to see a culture you have never seen anywhere else in India. Welcoming Gujaratis and non Gujaratis alike, we are the beloved 'Gujju Assoc'. </p>
                </div>
            </div>
            <div class="carde">
                <div class="content">
                    <p class="title">Sangam</p>
                    <p class="info more">Sangam is biggest collaboration of states in India, including Madhya Pradesh, Uttar Pradesh, Chattisgarh, Bihar, Jharkhand, Uttrakhand, and the seven Sisters. We organise the festivals grand Indian festivals of Diwali, Dussehera, Durga Puja with pomp and splendor. Our aim behind celebrating these festivals is to create a festive atmosphere on campus and by that, strengthen the bond between our students and faculty from different parts of India. We would love to make you guys a part of it! </p>
                </div>
            </div>
        </div>
        {% endblock %}>
