
{% extends 'base.html' %}

{% block title %}
<title>Resources</title>
{% load static %}
<link rel="stylesheet" href="{% static "app/stylesheets/resources.css" %}">
{% endblock %}

{% block content %}
<div class="char">
<h3>Charters and Contstitution</h3>
<div class="resource">
	<div><a href="pearl.pdf" target="_blank"><div id="pearl"><p>Pearl Charter</p></div></a></div>
	<div><a href="arena.pdf" target="_blank"><div id="arena"><p>Arena Charter</p></div></a></div>
	<div><a href="atmos.pdf" target="_blank"><div id="atmos"><p>Atmos Charter</p></div></a></div>
   	<div><a href="vm.pdf" target="_blank"><div id="vm"><p>Verba Maximus<br>Charter</p></div></a></div>
   	<div><a href="su.pdf" target="_blank"><div id="su"><p>Students' Union<br>Constitution</p></div></a></div>
</div>
</div>
{% endblock %}
