
{% extends 'base.html' %}

{% block title %}
<title>SU Events - Students' Union Portal</title>
{% load static %}
<link rel="stylesheet" href="{% static "app/stylesheets/cards.css" %}">
{% endblock %}


{% block content %}
<div id="c-con">
    <div id="cards">
        <div class="carde">
            <div class="content">
                <p class="title">Pearl</p>
                <p class="info more">Pearl is the annual national level cultural festival of our campus. Pearl is an explosion of culture and the true representation of our campus spirit. It consists of four full days of vibrant performances, competitions, workshops, street shows;ranging from ramp walks to debates, from dance-offs to treasure hunts, there is something to always pick your interest and keep you running around. Each day ends with the crowd grooving to the plethora of professional shows we have lined up.<br><br>
                    
                    Pearl has carved a niche as one of the most popular cultural fests of South India, and has witnessed some of the best pro shows, talks and mesmerizing performances till date</p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">Arena</p>
                <p class="info more">Arena, the annual national sports fest of our campus is not just an opportunity to showcase your love for sports but also an experience to live those adrenaline rushes, the huger to win,the spirit to compete, the determination to never give up and the passion to excel. It is a 3-4 days fest where boys and girls from all over the country can be seen fighting for their honor in more than fifteen categories of sports with full passion and camaraderie. <br><br>

                    We also have several artists coming to our campus to showcase their extra ordinary skills in the various other forms of sports which yet remain to be explored by many. The crowd not only relishes the exciting matches between some of the very famous sporting giants but also a series of open-mics and DJ nights in the evenings. Arena gives you a chance to live your dream to honor victory and to spread your passion for sports
                   </p>
            </div>
        </div>
        <div class="carde">
            <div class="content">
                <p class="title">ATMOS</p>
                <p class="info more">ATMOS is the annual techno-management festival of BITS Pilani, Hyderabad Campus, located in Hyderabad, India. It is known for a wide range of events, such as workshops, quizzes, lectures, technical exhibitions and competitions. Among the notable events conducted annually during it are the national level quiz Enigma and BITS MUN Hyderabad.Started in 2012, ATMOS aims at improving the technical culture among Indian colleges as well as providing a platform to showcase their abilities. In its sixth year now, ATMOS is growing rapidly with participation from students, academicians, entrepreneurs and speakers from all over India.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}>
